<div class="btn btn-sm btn-success" data-toggle="modal"
     data-target="#newContriModal" style="float: left;margin-right: 30px;">新增捐助人
</div>
#parse("/control/newContri.vm")

<div class="input-group" style="width: 300px;display: inline-flex;">
    <input class="form-control" placeholder="编号/姓名/状态/类型/身份证" value="$!{keyWord}">
    <span class="input-group-btn">
        <button class="btn btn-default J_search" type="button"">查找</button>
    </span>
</div>

##翻页器
<ul class="pagination" style="margin: 0px;float: right;font-size: 12px;">
    <li>
        <a href="/onefamily/contriPage.html?pageNo=$!{prev}&keyWord=$!{keyWord}" aria-label="Previous">
            <span aria-hidden="true">上一页</span>
        </a>
    </li>
    <li>
        <a href="/onefamily/contriPage.html?pageNo=$!{curr}&keyWord=$!{keyWord}">$!{curr}</a>
    </li>
    <li>
        <a href="/onefamily/contriPage.html?pageNo=$!{next}&keyWord=$!{keyWord}" aria-label="Next">
            <span aria-hidden="true">下一页</span>
        </a>
    </li>
</ul>


<table class="table table-hover" style="font-size: 14px;">
    <thead>
    <tr>
        <td>编号</td>
        <td>姓名</td>
        <td>历史编号</td>
        <td>人员类型</td>
        <td>当前状态</td>
        <td>累计捐款金额</td>
        <td>累计活动小数</td>
        <td>人员星级</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
        #foreach($contri in $resultList)
        <tr>
            <td id="td_padding">$!{contri.bizId}</td>
            <td id="td_padding">$!{contri.contributorName}</td>
            <td id="td_padding">$!{contri.originalBizId}</td>
            <td id="td_padding">$!{contri.type}</td>
            <td id="td_padding">$!{contri.status}</td>
            <td id="td_padding">$!{contri.totalMoney}</td>
            <td id="td_padding">$!{contri.totalActTime}</td>
            <td id="td_padding">$!{contri.level}</td>
            <td>
                <div class="btn btn-sm btn-primary" data-toggle="modal"
                     data-target="#contriModal_$!{contri.contributorId}">详情
                </div>
            ## login model
                #parse("/control/contriModel.vm")
            </td>
        </tr>
        #end
    </tbody>
</table>

<script type="text/javascript">

    $(function () {
        $(".J_save").click(function () {
            $(this).parent().parent().find("form").submit();
        });

        $(".J_search").click(function () {
            redirectUrl('?keyWord=' + $(this).parent().parent().find('input').val());
        });
    })

</script>