<div class="btn btn-sm btn-success" data-toggle="modal"
     data-target="#newContriModal" style="float: left;margin-right: 30px;">新增捐助人
</div>
#parse("/control/newContri.vm")

<div class="input-group" style="width: 300px;display: inline-flex;">
    <input class="form-control" placeholder="编号/姓名/状态/类型/身份证" value="$!{keyWord}">
    <span class="input-group-btn">
        <button class="btn btn-success J_search" type="button"">查找</button>
    </span>
</div>

##翻页器
<ul class="pagination" style="margin: 0px;float: right;font-size: 12px;">
    <li>
        <a href="/onefamily/contriPage.html?pageNo=$!{prev}&keyWord=$!{keyWord}" aria-label="Previous">
            <span aria-hidden="true">上一页</span>
        </a>
    </li>
    <li>
        <a href="/onefamily/contriPage.html?pageNo=$!{curr}&keyWord=$!{keyWord}">$!{curr}</a>
    </li>
    <li>
        <a href="/onefamily/contriPage.html?pageNo=$!{next}&keyWord=$!{keyWord}" aria-label="Next">
            <span aria-hidden="true">下一页</span>
        </a>
    </li>
</ul>


<table class="table table-hover" style="font-size: 14px;">
    <thead>
    <tr>
        <td>编号</td>
        <td>姓名</td>
        <td>历史编号</td>
        <td>身份证</td>
        <td>人员类型</td>
        <td>当前状态</td>
        <td>累计捐款金额</td>
        <td>累计活动小数</td>
        <td>活动平均星级</td>
        <td>人员星级</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
        #foreach($contri in $resultList)
        <tr>
            <td id="td_padding">$!{contri.bizId}</td>
            <td id="td_padding">$!{contri.contributorName}</td>
            <td id="td_padding">$!{contri.originalBizId}</td>
            <td id="td_padding">$!{contri.identityCard}</td>
            <td id="td_padding">$!{contri.typeString}</td>
            <td id="td_padding">$!{contri.status}</td>
            <td id="td_padding">$!numberTool.currency($!{contri.totalMoney})</td>
            <td id="td_padding">$!{contri.totalActTime} 小时</td>
            <td id="td_padding">#if($!{contri.averageLevel})$!{contri.averageLevel} 星#end</td>
            <td id="td_padding">$!{contri.level} 星</td>
            <td>
                <div class="btn btn-sm btn-success" data-toggle="modal"
                     data-target="#contriModal_$!{contri.contributorId}">详情
                </div>
            ## login model
                #parse("/control/contriModel.vm")
            </td>
        </tr>
        #end
    </tbody>
</table>

<script type="text/javascript">

    $(function () {
        $(".J_save").click(function () {
            var form = $(this).parent().parent().find("form");
            var id = form.find("[name='identityCard']").val();
            if (id == undefined || id == null || id.length != 18) {
                alert("身份证填写不正确，请检查（身份证为18位）！！！");
                return;
            }
            form.submit();
        });

        $(".J_search").click(function () {
            redirectUrl('?keyWord=' + $(this).parent().parent().find('input').val());
        });

        $(".J_type").change(function () {
            var selector = $(this);
            selector.parent().parent().parent().find(".1020").hide();
            selector.parent().parent().parent().find(".30").hide();
            selector.parent().parent().parent().find(".40").hide();
            if (selector.val() == "10" || selector.val() == "20")
                selector.parent().parent().parent().find(".1020").show();
            if (selector.val() == "30")
                selector.parent().parent().parent().find(".30").show();
            if (selector.val() == "40")
                selector.parent().parent().parent().find(".40").show();
        });

        $(".J_school").change(function () {
            var selector = $(this);
            selector.parent().parent().parent().find(".showSchool").hide();
            selector.parent().parent().parent().find(".showWork").hide();
            if (selector.val() == "true")
                selector.parent().parent().parent().find(".showSchool").show();
            if (selector.val() == "false")
                selector.parent().parent().parent().find(".showWork").show();
        });
    })

</script>