<div class="btn btn-sm btn-primary" data-toggle="modal"
     data-target="#newModal" style="float: left;margin-right: 30px;">
    新增机构捐助
</div>
#parse("/control/newGroup.vm")

<div class="input-group" style="width: 300px;display: inline-flex;">
    <input class="form-control" placeholder="编号/机构名称" value="$!{keyWord}">
    <span class="input-group-btn">
        <button class="btn btn-primary J_search" type="button"">查找</button>
    </span>
</div>

##翻页器
<ul class="pagination" style="margin: 0px;float: right;font-size: 12px;">
    <li>
        <a href="/onefamily/groupPage.html?pageNo=$!{prev}&keyWord=$!{keyWord}" aria-label="Previous">
            <span aria-hidden="true">上一页</span>
        </a>
    </li>
    <li>
        <a href="/onefamily/groupPage.html?pageNo=$!{curr}&keyWord=$!{keyWord}">$!{curr}</a>
    </li>
    <li>
        <a href="/onefamily/groupPage.html?pageNo=$!{next}&keyWord=$!{keyWord}" aria-label="Next">
            <span aria-hidden="true">下一页</span>
        </a>
    </li>
</ul>


<table class="table table-hover" style="font-size: 14px;">
    <thead>
    <tr>
        <td>捐助编号</td>
        <td>机构名称</td>
        <td>捐助日期</td>
        <td>备注</td>
        <td>捐助总金额</td>
        <td>捐助人编号</td>
        <td>捐助人</td>
        <td>捐助金额</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
        #foreach($result in $resultList)
        <tr>
            #if($result.memberList.size())
                #set($rowSpan = $result.memberList.size() + 1)
            #end
            <td id="td_padding" rowspan="$rowSpan"
                style="vertical-align: middle;">$!{result.serialId}</td>
            <td id="td_padding" rowspan="$rowSpan"
                style="vertical-align: middle;">$!{result.groupName}</td>
            <td id="td_padding" rowspan="$rowSpan"
                style="vertical-align: middle;">$!dateTool.format("yyyy-MM-dd",$!{result.donateTime})</td>
            <td id="td_padding" rowspan="$rowSpan"
                style="vertical-align: middle;">$!{result.remark}</td>
            <td id="td_padding" rowspan="$rowSpan"
                style="vertical-align: middle;">$!numberTool.currency($!{result.total})</td>
            <td id="td_padding"></td>
            <td id="td_padding"></td>
            <td id="td_padding"></td>
            <td id="td_padding">
                <div class="btn btn-sm btn-primary" data-toggle="modal"
                     data-target="#detailModal_$!{result.donateId}">捐助管理
                </div>
                <div class="btn btn-sm btn-warning" data-toggle="modal"
                     data-target="#detail2Modal_$!{result.donateId}aaa">新增人员
                </div>
                #parse("/control/groupModel.vm")
                #parse("/control/memberModel.vm")
            </td>
        </tr>
            #foreach($member in $result.memberList)
            <tr>
                <td id="td_padding">$!{member.contributorBizId}</td>
                <td id="td_padding">$!{member.contributorName}</td>
                <td id="td_padding">$!{member.payAmount}</td>
                <td>
                    <div class="btn btn-sm btn-info" data-toggle="modal"
                         data-target="#detail2Modal_$!{result.donateId}aaa$!{member.memberId}">人员管理
                    </div>
                    #parse("/control/memberModel.vm")
                </td>
            </tr>
            #end
        #end
    </tbody>
</table>

<script type="text/javascript">

    $(function () {
        $(".J_save").click(function () {
            var form = $(this).parent().parent().find("form");
            var check = form.find("[name='contributorBizId']").val();
            if (check == undefined) {
                form.submit();
                return;
            }
            var param = {bizId: check};
            commAjaxByGET("/onefamily/contributorExist.do", param, function (data) {
                if (data != true) {
                    alert("人员不存在，请检查编号！！！");
                    return;
                }
                form.submit();
            })
        });

        $(".J_search").click(function () {
            redirectUrl('?keyWord=' + $(this).parent().parent().find('input').val());
        });

        $(".J_delete").click(function () {
            if (confirm("确认要删除吗？")) {
                var form = $(this).parent().parent().find("form");
                var memberId = form.find("[name='memberId']").val();
                var param = {memberId: memberId};
                commAjaxByGET("/onefamily/deleteMember.do", param, function (data) {
                    if (data != true) {
                        alert("删除失败");
                    } else {
                        location.reload();
                    }
                })
            }
        });
    })

</script>