<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
    <title>益家 - One Family</title>

    #parse("/control/baseFront.vm")

</head>
<body>
    #parse("/control/nav.vm")
    $screen_content
</body>
</html>
