<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk"/>
    <title>益家 - One Family</title>

    #parse("/control/baseFront.vm")

    <link rel="stylesheet" type="text/css" href="/static/comm/flexslider/flexslider.css">
    <script type="text/javascript" src="/static/comm/flexslider/jquery.flexslider-min.js"></script>
</head>
<body style="background: url('/static/image/index_banner3.jpg') no-repeat;width: 100%;height: 100%;background-size: cover;">
    #parse("/control/nav.vm")
    $screen_content
</body>
</html>
