<link rel="stylesheet" type="text/css" href="/static/comm/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/comm/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/base.css">

<script type="text/javascript" src="/static/comm/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/static/comm/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/base.js"></script>


