<!-- Modal -->
<div class="modal fade" id="contriModal_$!{contri.contributorId}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 750px;">
        <div class="modal-content">

        ##            基本信息
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">捐助人详情 -- 基本信息</h4>
            </div>

            <div class="modal-body" style="">
                <form class="form-horizontal" action="/onefamily/saveContri.from" accept-charset="GBK">

                    <input type="hidden" name="contributorId" class="form-control" value="$!{contri.contributorId}">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" name="contributorName" class="form-control"
                                   value="$!{contri.contributorName}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">原始编号</label>
                        <div class="col-sm-10">
                            <input type="text" name="originalBizId" class="form-control"
                                   value="$!{contri.originalBizId}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">人员类型</label>
                        <div class="col-sm-10">
                            <select name="type" class="form-control J_type">
                                <option value="10" #if($!{contri.type} == 10) selected #end>10 - 组织人</option>
                                <option value="20" #if($!{contri.type} == 20) selected #end>20 - 普通成员</option>
                                <option value="30" #if($!{contri.type} == 30) selected #end>30 - 益家志者</option>
                                <option value="40" #if($!{contri.type} == 40) selected #end>40 - 参加活动群外人员</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">身份证</label>
                        <div class="col-sm-10">
                            <input type="text" name="identityCard" class="form-control" value="$!{contri.identityCard}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <input type="text" name="sex" class="form-control" value="$!{contri.sex}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">年龄</label>
                        <div class="col-sm-10">
                            <input type="text" name="age" class="form-control" value="$!{contri.age}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">民族</label>
                        <div class="col-sm-10">
                            <input type="text" name="nationality" class="form-control" value="$!{contri.nationality}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-10">
                            <input type="text" name="status" class="form-control" value="$!{contri.status}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">星级</label>
                        <div class="col-sm-10">
                            <input type="text" name="level" class="form-control" value="$!{contri.level}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input type="text" name="remark" class="form-control" value="$!{contri.remark}">
                        </div>
                    </div>

                ## 联系方式大字段
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">联系方式</h4>
                    </div>
                    #foreach($entry in $contri.contactMapObj.entrySet())
                        <div class="form-group" style="margin-top: 20px;">
                            <label class="col-sm-2 control-label">$entry.key</label>
                            <div class="col-sm-10">
                                <input type="text" name="contactMap" class="form-control"
                                       value="$entry.value">
                            </div>
                        </div>
                    #end

                ## 在校/工作情况
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">在校/工作情况</h4>
                    </div>
                    #foreach($entry in $contri.extraMapObj00.entrySet())
                        #if($velocityCount == 1)
                            #set($isSchool = $entry.value.value)
                        #end

                        #if($velocityCount == 2 || $velocityCount == 3)
                            #set($showClass = "showSchool")
                        #elseif($velocityCount == 4 || $velocityCount == 5)
                            #set($showClass = "showWork")
                        #else
                            #set($showClass = "")
                        #end

                        <div class="form-group $!showClass"
                             style="margin-top: 20px;display:
                                 #if($isSchool == "true")
                                     #if($velocityCount <= 3 || $velocityCount >= 6 ) #else none #end
                                 #else
                                     #if($velocityCount <= 1 || $velocityCount >= 4 )  #else none #end
                                 #end">
                            <label class="col-sm-2 control-label">$entry.key</label>
                            <div class="col-sm-10">
                                #if($velocityCount == 1)
                                    <select name="extraMap" class="form-control J_school">
                                        <option value="true" #if($entry.value.value == "true") selected #end>是</option>
                                        <option value="false" #if($entry.value.value == "true") #else selected #end>否
                                        </option>
                                    </select>
                                #else
                                    <input type="text" name="extraMap" class="form-control" value="$entry.value.value">
                                #end
                            </div>
                        </div>
                    #end

                ## 扩展信息大字段
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">其他扩展信息</h4>
                    </div>
                    #foreach($entry in $contri.extraMapObj.entrySet())
                        #if($!{contri.type} == 10 || $!{contri.type} == 20)
                            #set($currType = "1020")
                        #else
                            #set($currType = ${contri.type})
                        #end

                        <div class="form-group $entry.value.type"
                             style="margin-top: 20px;display: #if($currType != $entry.value.type) none #end ">
                            <label class="col-sm-2 control-label">$entry.key</label>
                            <div class="col-sm-10">
                                <input type="text" name="extraMap" class="form-control"
                                       value="$entry.value.value"
                                       onclick="#if($entry.value.time)
                                               laydate()
                                       #end">
                            </div>
                        </div>
                    #end

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary J_save">保存</button>
            </div>

        </div>
    </div>
</div>