<!-- Modal -->
<div class="modal fade in" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 700px;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">新增结对明细</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" action="/onefamily/newPeer.from" accept-charset="GBK">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">编号</label>
                        <div class="col-sm-10">
                            <input type="text" name="bizId" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">受助人姓名</label>
                        <div class="col-sm-10">
                            <input type="text" name="aidedName" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">受助人身份证</label>
                        <div class="col-sm-10">
                            <input type="text" name="identify" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">头像</label>
                        <div class="col-sm-10">
                            <input type="text" name="pic" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <select name="sex" class="form-control">
                                <option value="1" selected>1 - 男</option>
                                <option value="2">2 - 女</option>
                                <option value="3">3 - 其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">民族</label>
                        <div class="col-sm-10">
                            <input type="text" name="nationality" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">捐助人编号</label>
                        <div class="col-sm-10">
                            <input type="text" name="contributorBizId" class="form-control"
                                   value="$!{result.contributorBizId}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">结对状态</label>
                        <div class="col-sm-10">
                            <select name="status" class="form-control">
                                <option value="已结对">1 - 已结对</option>
                                <option value="未结对" selected>2 - 未结对</option>
                                <option value="即将到期">3 - 即将到期</option>
                                <option value="即将到期">4 - 即将到期</option>
                                <option value="等待结对">5 - 等待结对</option>
                                <option value="等待确认">6 - 等待确认</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">助学方式</label>
                        <div class="col-sm-10">
                            <input type="checkbox" name="aidedType" value="1">
                            <label>月月捐</label>
                            <input type="checkbox" name="aidedType" value="2">
                            <label>每校捐</label>
                            <input type="checkbox" name="aidedType" value="3">
                            <label>一次捐</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">捐款计划(周期、金额)</label>
                        <div class="col-sm-10">
                            <input type="text" name="payPeriod" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input type="text" name="remark" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">收款银行</label>
                        <div class="col-sm-10">
                            <input type="text" name="bank" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">收款账号</label>
                        <div class="col-sm-10">
                            <input type="text" name="account" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">收款人姓名</label>
                        <div class="col-sm-10">
                            <input type="text" name="payee" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">结对开始时间</label>
                        <div class="col-sm-10">
                            <input type="text" name="peerTime" class="form-control" value="" onclick="laydate()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">结对结束时间</label>
                        <div class="col-sm-10">
                            <input type="text" name="peerEndTime" class="form-control" value="$!dateTool.format(
                                "yyyy-MM-dd",$!{result.peerEndTime})"
                                   onclick="laydate()">
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">监护人姓名</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">学校名称</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">学校所属地市</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">监护人E-mail</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">监护人QQ</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">班主任电话</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">监护人手机</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">年级</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">家庭情况</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">班主任姓名</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">监护人座机</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">监护人微信</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <label class="col-sm-2 control-label">学生家庭住址</label>
                        <div class="col-sm-10">
                            <input type="text" name="contactMap" class="form-control" value="">
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary J_save">创建</button>
            </div>

        </div>
    </div>
</div>