<!-- Modal -->
<div class="modal fade" id="detail2Modal_$!{result.actId}aaa$!{part.contributorBizId}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 630px;">
        <div class="modal-content">

        ##            基本信息
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">参与者详情</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" action="/onefamily/saveActParticipant.from" accept-charset="GBK">

                    <input type="hidden" name="actId" class="form-control" value="$!{result.actId}">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">参与者编号</label>
                        <div class="col-sm-10">
                            <input type="text" name="contributorBizId" class="form-control"
                                   value="$!{part.contributorBizId}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">参与者姓名</label>
                        <div class="col-sm-10">
                            <input type="text" name="contributorName" class="form-control"
                                   value="$!{part.contributorName}" readonly="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">历史星级</label>
                        <div class="col-sm-10">
                            <input type="text" name="starLevel" class="form-control" value="$!{part.starLevel}"
                                   readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">参与角色</label>
                        <div class="col-sm-10">
                            <input type="text" name="role" class="form-control" value="$!{part.role}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">参与时长</label>
                        <div class="col-sm-10">
                            <input type="text" name="thisActDuration" class="form-control"
                                   value="$!{part.thisActDuration}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">本次星级</label>
                        <div class="col-sm-10">
                            <select name="thisStarLevel" class="form-control">
                                <option value="0" #if($!{part.thisStarLevel} == "0") selected #end>0 - 无</option>
                                <option value="1" #if($!{part.thisStarLevel} == "1") selected #end>1 - 一星</option>
                                <option value="2" #if($!{part.thisStarLevel} == "2") selected #end>2 - 二星</option>
                                <option value="3" #if($!{part.thisStarLevel} == "3") selected #end>3 - 三星</option>
                                <option value="4" #if($!{part.thisStarLevel} == "4") selected #end>4 - 四星</option>
                                <option value="5" #if($!{part.thisStarLevel} == "5") selected #end>5 - 五星</option>
                                <option value="6" #if($!{part.thisStarLevel} == "6") selected #end>6 - 六星</option>
                                <option value="7" #if($!{part.thisStarLevel} == "7") selected #end>7 - 七星</option>
                                <option value="8" #if($!{part.thisStarLevel} == "8") selected #end>8 - 八星</option>
                                <option value="9" #if($!{part.thisStarLevel} == "9") selected #end>9 - 九星</option>
                                <option value="10" #if($!{part.thisStarLevel} == "10") selected #end>10 - 十星</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger J_delete" data-dismiss="modal">删除</button>
                <button type="button" class="btn btn-primary J_save">保存</button>
            </div>

        </div>
    </div>
</div>