<!-- Modal -->
<div class="modal fade" id="detailModal_$!{result.peerId}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 700px;">
        <div class="modal-content">

        ##            基本信息
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">结对管理详情</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" action="/onefamily/savePeer.from" accept-charset="GBK">
                    <input type="hidden" name="peerId" class="form-control" value="$!{result.peerId}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">编号</label>
                        <div class="col-sm-10">
                            <input type="text" name="bizId" class="form-control" value="$!{result.bizId}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">受助人姓名</label>
                        <div class="col-sm-10">
                            <input type="text" name="aidedName" class="form-control"
                                   value="$!{result.aidedName}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">受助人身份证</label>
                        <div class="col-sm-10">
                            <input type="text" name="identify" class="form-control" value="$!{result.identify}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">头像</label>
                        <div class="col-sm-10">
                            <input type="text" name="pic" class="form-control" value="$!{result.pic}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">生日</label>
                        <div class="col-sm-10">
                            <input type="text" name="birthday" class="form-control" value="$!dateTool.format(
                                "yyyy-MM-dd",$!{result.birthday})" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <select name="sex" class="form-control">
                                <option value="1" #if($!{result.sex} == "1") selected #end>1 - 男</option>
                                <option value="2" #if($!{result.sex} == "2") selected #end>2 - 女</option>
                                <option value="3" #if($!{result.sex} == "3") selected #end>3 - 其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">年龄</label>
                        <div class="col-sm-10">
                            <input type="text" name="age" class="form-control" value="$!{result.age}"
                                   readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">民族</label>
                        <div class="col-sm-10">
                            <input type="text" name="nationality" class="form-control" value="$!{result.nationality}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">结对状态</label>
                        <div class="col-sm-10">
                            <select name="status" class="form-control">
                                <option value="已结对" #if($!{result.status} == "已结对") selected #end>1 - 已结对</option>
                                <option value="未结对" #if($!{result.status} == "未结对") selected #end>2 - 未结对</option>
                                <option value="即将到期" #if($!{result.status} == "即将到期") selected #end>3 - 即将到期</option>
                                <option value="等待结对" #if($!{result.status} == "等待结对") selected #end>5 - 等待结对</option>
                                <option value="等待确认" #if($!{result.status} == "等待确认") selected #end>6 - 等待确认</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">捐助人编号</label>
                        <div class="col-sm-10">
                            <input type="text" name="contributorBizId" class="form-control"
                                   value="$!{result.contributorBizId}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">捐助人</label>
                        <div class="col-sm-10">
                            <input type="text" name="contributorName" class="form-control"
                                   value="$!{result.contributorName}" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">助学方式</label>
                        <div class="col-sm-10">
                            #foreach($checkbox in $!{result.aidedType})
                            #end
                            <input type="checkbox" name="aidedType"
                                   value="1" #foreach($checkbox in $!{result.aidedTypeArr})
                                #if($checkbox == "1")
                                   checked="checked"
                                #end
                            #end>
                            <label>月月捐</label>
                            <input type="checkbox" name="aidedType"
                                   value="2" #foreach($checkbox in $!{result.aidedTypeArr})
                                #if($checkbox == "2")
                                   checked="checked"
                                #end
                            #end>
                            <label>每校捐</label>
                            <input type="checkbox" name="aidedType"
                                   value="3" #foreach($checkbox in $!{result.aidedTypeArr})
                                #if($checkbox == "3")
                                   checked="checked"
                                #end
                            #end>
                            <label>一次捐</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">捐款计划(周期、金额)</label>
                        <div class="col-sm-10">
                            <input type="text" name="payPeriod" class="form-control" value="$!{result.payPeriod}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input type="text" name="remark" class="form-control" value="$!{result.remark}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">收款银行</label>
                        <div class="col-sm-10">
                            <input type="text" name="bank" class="form-control" value="$!{result.bank}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">收款账号</label>
                        <div class="col-sm-10">
                            <input type="text" name="account" class="form-control" value="$!{result.account}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">收款人姓名</label>
                        <div class="col-sm-10">
                            <input type="text" name="payee" class="form-control" value="$!{result.payee}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">结对开始时间</label>
                        <div class="col-sm-10">
                            <input type="text" name="peerTime" class="form-control" value="$!dateTool.format(
                                "yyyy-MM-dd",$!{result.peerTime})"
                                   onclick="laydate()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">结对结束时间</label>
                        <div class="col-sm-10">
                            <input type="text" name="peerEndTime" class="form-control" value="$!dateTool.format(
                                "yyyy-MM-dd",$!{result.peerEndTime})"
                                   onclick="laydate()">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">最后一次汇款日期</label>
                        <div class="col-sm-10">
                            <input type="text" name="lastPayTime" class="form-control" value="$!dateTool.format(
                                "yyyy-MM-dd",$!{result.lastPayTime})" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">最后一次汇款金额</label>
                        <div class="col-sm-10">
                            <input type="text" name="lastPayAmount" class="form-control"
                                   value="$!numberTool.currency($!{result.lastPayAmount})" readonly="readonly">
                        </div>
                    </div>

                ## 联系方式大字段
                    #foreach($entry in $result.contactMapObj.entrySet())
                        <div class="form-group" style="margin-top: 20px;">
                            <label class="col-sm-2 control-label">$entry.key</label>
                            <div class="col-sm-10">
                                <input type="text" name="contactMap" class="form-control"
                                       value="$entry.value">
                            </div>
                        </div>
                    #end

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary J_save">保存</button>
            </div>

        </div>
    </div>
</div>